body{
  background-color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
}

.App{
  width: 800px;
  margin: 0 auto;
  text-align: center;

}

.current-balance{
  background-color: white;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 1px 1px grey;

}

.transaction-difference{
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px grey;
}

.transaction-list{
  list-style: none;
 
}

.transaction-list li{
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 300px;
  margin:0 auto;
  padding:10px;
  box-shadow: 1px 1px grey;
  
}

.transaction-form{
  width: 300px;
  margin:0 auto;
  padding:10px;
  
}

.transaction-form input{
  padding:5px;
}

.btnAdd{
  margin-top:5px;
 
}

.btnAdd button{
  padding:10px 10px;
  background-color: #28a745;
  border:none;
}