body{
  background-color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
}

.App{
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #d1ecf1;
  padding:10px;

}

.current-balance{
  background-color: #f5c6cb;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 1px 1px grey;

}

.transaction-difference{
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #f5c6cb;
  box-shadow: 1px 1px grey;
}

.transaction-list{
  list-style: none;
 
}

.transaction-list li{
  display: flex;
  justify-content: space-around;
  background-color: #f5c6cb;
  width: 300px;
  margin:0 auto;
  padding:10px;
  box-shadow: 1px 1px grey;
  margin-bottom: 10px;
  
}

.transaction-form{
  width: 300px;
  margin:0 auto;
  padding:10px;
  
}

.transaction-form input{
  padding:5px;
}

.btnAdd{
  margin-top:5px;
 
}

.btnAdd button{
  padding:10px 10px;
  background-color: #28a745;
  border:none;
}

.border-expense{
  border-left:5px solid #dc3545;
}

.border-income{
  border-left:5px solid #17a2b8;
}

.transaction-list input{
  width:50px;
}